@keyframes banner-to-left
{
    form   {position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        z-index: 1;}
    to  {position: absolute;
        width: 432px;
        height: 160px;
        top: 50%;
        left: 50px;
        transform: translate(0%,-50%);
        z-index: 0;}
}
