.h1{
    font-size: 28px;
    font-weight: bolder;
    /*padding: 0;*/
    /*margin: 0;*/
    /*margin-bottom: 20px;*/
    /*padding-bottom: 20px;*/
}

.h2{
    font-size: 22px;
    font-weight: bold;
    /*padding: 0;*/
    /*margin: 0;*/
    /*margin-bottom: 5px;*/
}